@model IEnumerable<LonghornBankWebApp.Models.Message>

@{
    ViewData["Title"] = "Recent Mail";
}

<div>
    <h1>Recent Company Inbox</h1>
</div>

<hr />


@section containerbottom{

<div class="container min-vh-100 mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Sender</th>

                    <th>Subject</th>

                    <th>Body</th>

                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Sender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Info)

                        </td>
                        <td style="white-space:nowrap">
                            @item.Date.ToString("yyyy-mm-dd")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    

</div> 
}
   

