<h1>Congratulations!!</h1>
<p>The data has been seeded!!</p>


@section containerbottom{

    <div class="container min-vh-100 mt-4">
        <a asp-controller="Seed" asp-action="Index" class="btn btn-success">Go Back to the Seeding Home Page!</a>
    </div>
}
