@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}



@section containerFluid{

    <div class="container-fluid min-vh-100 pb-4" id="bg-login">
        
        <div class="row">
            <div class="col-md-4 py-6">
                <h1>Login</h1>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group pt-4">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="alert alert-secondary my-6" role="alert" style="width:30%">
            <a asp-controller="Home" asp-action="Index">Home</a> |
            <a asp-controller="Account" asp-action="Register">Register a New User</a>
        </div>

        
    </div>
   
    
}

