@{
    ViewData["Title"] = "How To";
}


@section containerbottom{
    
     <div class="container min-vh-100 mt-4">
        <h1>Longhorn Bank Web App</h1>

        <p>A C# based MVC website using a SQL Server Database.</p>
        
        <h2 class="mt-4">Used Role-Based Authorization from ASP.NET Identity package to create three roles:</h2>

        <ul>
            <li>
                Customer


                <ul>
                    <li>Email: cbaker@freezing.co.uk | Password: gazing</li>
                </ul>
            </li>

            <li>
                Admin


                <ul>
                    <li>Email: t.jacobs@longhornbank.neet | Password: society</li>
                </ul>
            </li>

            <li>
                Employee


                <ul>
                    <li>Email: a.taylor@longhornbank.neet | Password: nostalgic</li>
                </ul>
            </li>
        </ul>

        <h2 class="mt-4">Links</h2>

        <ul>
            <li><a href="https://docs.google.com/spreadsheets/d/1BGDKu35suQDCJtoVuJB_bfHXkfqeeJJ2/edit?usp=sharing&amp;ouid=103498623239049888969&amp;rtpof=true&amp;sd=true">Seeding Data</a></li>

            <li><a href="https://drive.google.com/file/d/1TNSuNIw1mHEuCd42CXjUxoBO66P5geQ5/view?usp=sharing">Requirements</a></li>
        </ul>

         
     </div>
    

}
