<h1 class="text-center py-6"> Apply for an Account</h1>

<div class="row text-center py-6">
    <div class="col">
        <h1>Checkings, Savings, or IRA</h1>
        <a asp-action="Create" asp-controller="BankAccounts" class="btn btn-primary">Apply</a>
    </div>
    <div class="col">
        <h1>Stock Portfolio Account</h1>
        <a asp-action="Create" asp-controller="StockPortfolio" class="btn btn-primary">Apply</a>
    </div>
</div>